#game_list{
    direction: rtl;
    width: 60%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 30px;
}

#right{
    /*margin-top: -100px;*/
    /*display: inline-block;*/
    float: right;
    margin-top: 5px;
    width: 20%;
    margin-bottom: 20px;
    padding-bottom: 50px;
}

#categories{
    width: 90%;
    background-color: rgba(190, 204, 196, 0.34);
    direction: rtl;
    display: inline-block;
    padding-right: 5px;
    border: 1px solid rgba(181, 194, 186, 0.34);
}

#categories .gameCategories{
    margin-bottom: 8px;
    /*border: 1px solid rgba(181, 194, 186, 0.34);*/
    width: 80%;
    margin-right: 8px;
    padding-right: 3px;


}


#similarsContainer{
    display: inline-block;
    width: 70%;
    direction: rtl;
    margin: auto;
    /*margin-top: 30px;*/
}

#similarsContainer .newGamesItem{

    margin: 5px;
    background-size: 100% 100%;
    border: 1px solid rgba(105, 113, 108, 0.44);
    width: 170px;
    display: inline-block !important;
}

#similarsContainer .newGamesItem:hover{
    margin: 3px;
    background-size: 100% 100%;
    box-shadow: 5px 10px 10px rgb(135, 135, 135);
    /*border: 1px solid;*/

}

#similarsContainer .newGamesItem img{
    display: block;
    width: 100%;
    height: 100px;
}

#similarsContainer .newGamesItem .name{
    color: blue;
}

#similarsContainer .newGamesItem .buttomRate{
    text-align: right;
}

#loadGame{

    /*margin: auto;*/
    width: 170px;
    margin-top: 50px;
    margin-right: 180px;
}