
#nav{
    height: 50px;
    background-color: rgba(190, 204, 196, 0.49);
}

#l1{
    margin-left: 800px;

}
#l1 .amirkabir,#console {
    color: rgba(139, 150, 143, 0.71)!important;
}

#header{
    /*position: relative;*/
    background-image:url("../images/header.jpg");
    background-size: cover;
    height: 200px;
}

.blur{
    background-color: rgba(46, 41, 47,0.7);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#container{
    position: absolute;
    color: white;
    margin-top: 50px;

}

#container .imageSpan{
    margin-left: 10px;
}

#container .imageSpan img{
    width: 80px;
    height: 80px;
    margin-right: 5px;
    border-radius: 10%;
}


#container .Info{
    direction: rtl;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
#container button{
    display: inline-block;
    vertical-align: top;
    margin-right: 250px;
    margin-left: 300px;
}
#container .Info .name{
    color: white;
    font-size: 200%;
}
#container .Info .categury span{
    font-size: 90%;
    text-decoration: underline;
    color: gray;
}

button a{
    color: white !important;
}
.gamerate .score{
    display: inline;
}
.gamerate .buttomRate{
    display: inline;

}

.gamerate .score{
    font-size: 80%;
}

.blue-star{
    color: blue;
    font-size: 130%;
}
.fa-star{
    font-size: 150%;
}

#tabRow{
    background-color: #f1f1f1;
}

ul.tab {
    width:60%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}
#tabRow .tab li a{
    color: gray;
}

/* Float the list items side by side */
ul.tab li {float: right;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a.active {
    border-bottom: 1px solid blue;
    outline:none;
}

ul.tab li a:focus{
    outline:none;
}


/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}
#content{
    /*direction: rtl;*/
    width: 60%;
    margin: auto;
}

#gameInfo{
    direction: rtl;
}

#gameInfo .image{
    height: 200px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

#gameInfo img{
    height: 200px;
    width: 400px;
}

#Usercomments{
    direction: rtl;
}

#ranking h3{
    direction: rtl;
}

#Usercomments h3{
    display: inline;
}

#Usercomments button{
    margin-right: 400px;
}

.comment{
    direction: rtl;
    height: 50px;
}

.comment:nth-child(odd){
    background-color: rgba(161, 174, 166, 0.23);
}

.comment .imageSpan{
    float: right;
}
.comment .imageSpan img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 60%;
    border: solid 1px;
    border-color: #d9d3cc;
}

#Usercomments .name{
    display: inline;
    color: blue;

}
#Usercomments .date{
    text-align: right;

}

#Usercomments .message{
    display: inline;
    color: blue;
}

#Usercomments .rate{
    display: inline-block;
    margin-right: 420px;
    margin-top: 0px;
    font-size: 100%;
}

.gray-star{
    color: gray;
}

#Usercomments #load{
    margin-right:300px;
    margin-top: 50px;
}

#similarGames{
    direction: rtl;
    margin: auto;
}

#similarGames .newGamesItem{

    margin: 5px;
    background-size: 100% 100%;
    border: 1px solid rgba(105, 113, 108, 0.44);
    width: 170px;
    display: inline-block;
}

#similarGames .newGamesItem:hover{
    margin: 3px;
    background-size: 100% 100%;
    box-shadow: 5px 10px 10px rgb(135, 135, 135);
    /*border: 1px solid;*/

}

#similarGames .newGamesItem img{
    display: block;
    width: 100%;
    height: 100px;
}

#similarGames .newGamesItem .name{
    color: blue;
}

#similarGames .newGamesItem .buttomRate{
    text-align: right;
}

#images h3{
    direction: rtl;
}
/*#images #selected{*/
    /*height: 350px;*/
    /*width: 600px;*/
    /*margin: auto;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 50px;*/
/*}*/

/*#images #selected img{*/
    /*height: 350px;*/
    /*width: 600px;*/
/*}*/


#images #video_box{
    height: 350px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

#images #player{
    height: 350px;
    width: 600px;
}
#sliderContainer{
    width: 75%;
    margin: auto;
}

#Slider{
    margin: auto;
    /*background-color: red;*/
    height: 200px;
}

#Slider .item{
    margin: 5px;
    background-size: 100% 100%;
    border: 1px solid rgba(105, 113, 108, 0.44);
}

#Slider .item img{
    display: block;
    width: 100%;
    height: 100px;
}
