
header{
    margin-top: 10px;
}
#firstViewPoint{
    /*position: relative;*/
    width: 100%;
    height: 0;
    padding-bottom: 100px;
    background-size: cover;
}

#slider{
    /*position: absolute;*/
    /*bottom: 0;*/
}

#slider .item{
    margin: 1px;
    background-size: 100% 100%;
}

#slider .item p{
    text-align: right;
    line-height: 170px;
    color: white;
}

#register{
    float: left;
    margin-top: 10px;
    margin-left: 300px;
}

#register button{
    display: inline-block;
    height: 23px;
    line-height: 10px;
}

#register button a{
    text-decoration: none;
    color: white;
}
#login{
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}
/*#login a{*/
    /*text-decoration: none;*/
    /*color: white;*/
/*}*/
#logo{
    margin-left: 1000px;
}

#logo a{
    text-decoration: none;

}
#logo a:link {text-decoration: none; color: blue;}
#logo a:visited {text-decoration: none; color: blue;}
#logo a:hover {text-decoration: none; color: blue;}
#logo a:active {text-decoration: none; color: blue;}


#amir{
    color: white;
}
.blur{
    background-color: rgba(46, 41, 47,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.itemblur{
    background-color: rgba(45, 41, 47,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#newGame{
    width: 60%;
    margin: auto;
}

#newGame #head{
    overflow: hidden;
}

#newGame #head h3{
    text-align: right;
    float: right;
}
#newGame #head #pagination{
    float: left;
    vertical-align: middle;
    margin-top: 25px;
}
#newGamesSlider{
    /*width: 70%;*/
    margin: auto;
    margin-bottom: 40px;
}

#newGamesSlider .newGamesItem{
    margin: 5px;
    background-size: 100% 100%;
    border: 1px solid rgba(105, 113, 108, 0.44);
}

#newGamesSlider .newGamesItem:hover{
    margin: 3px;
    background-size: 100% 100%;
    box-shadow: 5px 10px 10px rgb(135, 135, 135);
    /*border: 1px solid;*/

}

#newGamesSlider .newGamesItem .image{
    display: block;
    width: 100%;
    height: 100px;
}

#newGamesSlider .newGamesItem .image img{
    display: block;
    width: 100%;
    height: 100px;
}

#newGamesSlider .newGamesItem .name{
    color: blue;
}



#commentsRow{
    background-color: rgba(139, 150, 143, 0.23);
    margin-bottom: 0px;
}
#comments{
    width: 60%;
    margin: auto;
    text-align: right;
    overflow: hidden
}
#comments h2{
    margin-right: 20px;
}
#comments #description{
    margin-right: 20px;
    float: right;
    width: 50%;
}

#cgContainer{
    width: 80%;
    margin: auto;
    overflow: hidden;
    clear: both;
    float: right;
    margin-right: 20px;
}

#commentsAndChats{
    float: right;
    margin-left:150px ;
}
#gameGuids{
    float: right;
}
.commentHeaderLink{
    color: black;
    text-decoration: none;
    font-size: 150%;
}
#commentsAndChats .comment .imageSpan img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
    border: solid 1px;
    border-color: #d9d3cc;
}

#gameGuids .comment .imageSpan img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: solid 1px;
    border-color: #d9d3cc;
}

.comment{
    direction: rtl;
    border-bottom: solid 1px rgba(139, 150, 143, 0.33);
    padding-bottom: 20px;
    margin-top: 10px;
}
.commentText{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    color: #2e6da4;
}
.date{
    font-size: 10px;
    color: rgba(139, 150, 143, 0.69);
}

#blueRow{
    background-image: url("../images/best_hd_assassins_creed_black_flag_game_wallpapers.jpg");
    background-size: cover;
    height: 250px;
    color: white;
}
#blueBlur{
    background-color: rgba(99, 132, 255, 0.69);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.Info{
    text-align: right;
    margin-right: 20px;
    line-height: 1.4;
}

#footer #top{
    margin-top: 20px;
    height: 70px;
    background-color: white;
}

#footer #top span{
    color: blue;
    margin-left: 30px;
}

.amirkabir{
    color: gray !important;
}
.logo{
    font-size: 125%;
    line-height: 70%;
}

#footer #down{
    height: 70px;
    color: rgba(135, 135, 135, 0.44);
    background-color: rgba(139, 150, 143, 0.44);
    text-align: center;
    font-size: 150%;
    padding: 20px 0px;
}
#l2{
    margin-left: 250px;
    margin-right: 100px;
}
#social{
    margin-left: 980px;
    margin-bottom: 30px;
}
#l1 .amirkabir{
    color: white !important;
}
#l1{
    margin-left: 500px;
    margin-top: 20px;
}
#console{
    color: white;
}