/* 	global css rules in hw2 pages like font-family (@font-face), boxes, and login-register inputs
	author: 1111111;
	date: dd-mm-yy;
	version: 0.1;
*/

@font-face {
	font-family: Shabnam;
	src: url('/assets/Shabnam.eot');
	src: url('/assets/Shabnam.eot?#iefix') format('embedded-opentype'),
	url('/assets/Shabnam.woff') format('woff'),
	url('/assets/Shabnam.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: Shabnam;
	src: url('/assets/Shabnam-Bold.eot');
	src: url('/assets/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
	url('/assets/Shabnam-Bold.woff') format('woff'),
	url('/assets/Shabnam-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: Shabnam;
	src: url('/assets/Shabnam-Light.eot');
	src: url('/assets/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
	url('/assets/Shabnam-Light.woff') format('woff'),
	url('/assets/Shabnam-Light.ttf') format('truetype');
	font-weight: 300;
}

body {
	background-color: #6a96ff;
	font-family: Shabnam;
}