/* 	css rules for leaderboard.html page
	author: 1111111;
	date: dd-mm-yy;
	version: 0.1;
*/

body {
	/*background-color: silver;*/
}


.container {

	box-shadow: 4px 5px 10px grey;
	margin: 100px auto;
	width: 450px;
	height: auto;
	padding: 0px 10px;
	background-color: white;
	border: solid 1px #cbc9c9;
	border-radius: 5px 5px 5px 5px;
}

.header{
	text-align: center;
}
.rank1 {
	display: inline-block;
}
.rank2 {
	display: inline-block;
}
.rank3 {
	display: inline-block;
}

.bestThree .rank2 img{

	width: 40px;
	height: 40px;
	margin-right: 5px;
	border-radius: 50%;
}

.bestThree .rank1 img{

	width: 40px;
	height: 40px;
	margin-right: 5px;
	border-radius: 50%;
}
 .number{
	 display: inline-block;
	 float: right;
	 list-style: persian;
 }



.container .top10 .people .person img {
	float: right;
	width: 40px;
	height: 40px;
	margin-right: 5px;
	border-radius: 50%;
}

.info{
	float: right;
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	line-height: 1.4;
}
.rate{

	font-size: 70%;
	display: inline-block;
	margin-left: 30px;
	margin-top: 15px;

}

.footer{
	align-items: center;
}
.footer button{
	display: block;
	margin-bottom: 20px;
	font-size: 10px;
	background: transparent;
	border: none;
	cursor: pointer;
	margin-top: 30px;
	margin-left: 180px;
}
.fa-circle{
margin-left: 2px;
}




